# PYTHON ===================
# virtual env --------------
.venv/
venv/
env/

# byte-compiled ------------
**/__pycache__/
**/*.py[cod]

# pycharm ------------------
.idea/

# PYTEST -------------------
**/.pytest_cache/

# PYPI DISTRIBUTION --------
build/
dist/
*.egg-info/

# USER =====================
# TEMP ---------------------
TEMPORARY/
-*

# user saved data ----------
USERDATA/


# ==========================
