# ==========================
# VERSION = (0, 0, 1)#use build as broadcast/nested
# VERSION = (0, 0, 2)#add BACKUPS + start HELP

# HELP
# (*.xyz) or the same (**/*.xyz) - in any nested directory!

# PYTHON ===================
# virtual env --------------
.venv/
venv/
env/

# byte-compiled ------------
**/__pycache__/
**/*.py[cod]

# IDE ----------------------
.idea/
.vscode/

# PYTEST -------------------
**/.pytest_cache/

# PYPI DISTRIBUTION --------
build/
_build/
dist/

**/build/
**/_build/
**/dist/

*.egg-info/

# documentation ------------
#documentation/build/*
#documentation/source/_build/*

# BACKUPS ------------------
**/*.bkp

# some other ---------------
htmlcov/
.coverage
*~lock*
manage.sh
todo.org
*.orig

# USER =====================
# TEMP ---------------------
TEMPORARY/
-*

# user saved data ----------
USERDATA/

# ========================================
# SPECIAL FOR THIS PROJECT ---------------

# ========================================
